.container {
    margin: 0 auto;
    padding: 0 2rem;
}

.photo-container {
    position: relative;
    color: #fff;
  	border: 2px solid black;
    padding: 40px 50px 40px 50px;
    transform: translateX(-50%);
  	left: 50%;
  	width: 600px;
}

.photo {
    object-fit: cover;
    width: 500px;
    height: 500px;
}

.metadata {
	padding-top: 10px;
	margin: auto;
}

.like-button {
	border: none;
}

.comment-button {
	background-color: transparent;
	border: none;
}

.likes {
	color: darkgray;
}

.comments {
	color: darkgray;
}

.username {
	font-weight: bold;
	color: #00177D;
	display: inline;
}

.top-pfp {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: auto;
	float: left;
}

.top-username {
	font-weight: bold;
	color: #00177D ;
	padding-left: 45px;
}

.top-user-info {
	padding: 0px 0px 15px 0px;
}

.caption {
	color: #464646;
	padding-left: 8px;
}